form ul
{
	list-style: none;
}

form .info
{
	vertical-align: sub;
	line-height: 25px;
}


form li
{
	padding: 2px 0;	
}

form li *
{
	font-size: 14px;
	
}

form li label
{
	display: inline-block;
    width: 15%;
}

input[type="text"], input[type="password"], select
{
	border-color: #b7b7b7;
	-moz-border-radius:2px;
	border-radius:2px;
	padding: 3px;
	-moz-box-shadow: inset 3px 3px 5px #e5e5e5;
	box-shadow: inset 3px 3px 5px #e5e5e5;
}

select, select *
{
	background:transparent !important;
}

/*input[type="submit"]
{
	border-color: #b7b7b7;
	background-color: #e5e5e5;
	-moz-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow: inset 0px 9px 9px white;
	box-shadow: inset 0px 9px 9px white;
	cursor: pointer;
}*/

/*input[type="submit"]:hover, .button-link:hover
{
	background-color: #c6dedd;
}*/

.small, .medium, .large
{
	box-sizing:content-box;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
}

.small
{
	width: 15%;
}

.medium
{
	width: 30%;
}

.large
{
	width: 45%;
}

form input[type="submit"]:first-child
{
	margin-left:15.5%;
}

form a
{
	padding-top: 5px !important;
	padding-bottom: 5px !important; 
}

/* PAGINATION */

.paginateButtons {
    color: #666;
    overflow: hidden;
    padding: 5px 0;
	background:transparent;
}

.paginateButtons > span:first-child
{
	float:right;
	display:block;
}

.paginateButtons a {
   /* background: #fff;
    background: -moz-linear-gradient(white, lightgray);
    border: 1px solid #ccc;*/
    margin: 0 3px;
   /* padding: 2px 6px;
    color: #000;
    text-decoration:none;
    font-size:14px;
    -moz-border-radius:5px;
	border-radius:5px;
	border-color: #b7b7b7;
	padding: 5px 10px;*/
}

.paginateButtons span {
    padding: 2px 3px;
}

.paginateButtons .currentStep
{
 	font-size:14px;
}
 
.paginateButtons a.step
{
	background-color: #e5e5e5;
	font-size:14px;
	border-color: #b7b7b7;
	-moz-border-radius:2px;
	border-radius:2px;
}

.paginateButtons .step, .paginateButtons  .currentStep
{
	display:none;
}

.paginateButtons .prevLink
{
	font-size:14px;
	border-color: #b7b7b7;
	background:	#e5e5e5 url(../images/arrow-left.png) center center no-repeat;
	background:	url(../images/arrow-left.png) center center no-repeat,
				-moz-linear-gradient(white, lightgray);
	-moz-border-radius:5px;
	border-radius:5px;
	padding: 5px 20px;
	border: 1px solid #b7b7b7;
	color:transparent;
}

.paginateButtons .nextLink
{
	font-size:14px;
	border-color: #b7b7b7;
	background: #e5e5e5 url(../images/arrow-right.png) center center no-repeat;
	background: url(../images/arrow-right.png) center center no-repeat,
				-moz-linear-gradient(white, lightgray);
	-moz-border-radius:5px;
	border-radius:5px;
	padding: 5px 20px;
	border: 1px solid #b7b7b7;
	color:transparent;
}

.paginateButtons .nextLink:hover
{
	background: #e5e5e5 url(../images/arrow-right.png) center center no-repeat;
	background: url(../images/arrow-right.png) center center no-repeat,
				-moz-linear-gradient(white, #a4a4a4);
	border: 1px solid #7b7b7b;
}

.paginateButtons .prevLink:hover
{
	background:	#e5e5e5 url(../images/arrow-left.png) center center no-repeat;
	background: url(../images/arrow-left.png) center center no-repeat,
				-moz-linear-gradient(white, #a4a4a4);
	border: 1px solid #7b7b7b;
}

.inline-spinner 
{
    background: transparent url(../images/spinner.gif) 0 center no-repeat;
    height: 16px;
    width: auto;
    padding: 0.5em;
    padding-left: 20px;
    position: relative;
    text-indent: 26px;
    display:inline;
}