nav ul
{
	list-style: none;
	display: block;
	height: 100%;
}

nav li
{
	list-style: none;
	display: inline-block;
	padding: 5px 0px;
	margin: 0 -5px 0 0;
	color: #f3f5f8;
	font-size: 15px;
	font-family: arial;
	line-height: 28px;
	
	/*ie 7 fix */
	zoom:1;
	*display: inline;
}

nav li a:link
{
	padding: 5px 0;
		
	background:-moz-linear-gradient(#666b74,#292b2e 70%);
	background:-webkit-linear-gradient(#666b74,#292b2e 70%);
	background:-o-linear-gradient(#666b74,#292b2e 70%);
	background:linear-gradient(#666b74,#292b2e 70%);
	
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#666b74, endColorstr=#292b2e);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#666b74, endColorstr=#292b2e)";
	
	color: #d6d6d6;
	font-weight: bold;
	text-decoration:none;
	background-color: #2e2e2e;
	border: 1px solid #000;
	
	-web-box-shadow: inset 0 1px 0 #797e8a, 0px 1px 0px #02749a;
	-moz-box-shadow: inset 0 1px 0 #797e8a, 0px 1px 0px #02749a;
	box-shadow:		 inset 0 1px 0 #797e8a, 0px 1px 0px #02749a;

}

nav li a:hover
{
	color: #ffffff;
}
	
nav li:first-child a:link, nav li:first-child span
{
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	z-index:100;
}

nav li:last-child a:link, nav li:last-child span
{
	-webkit-border-radius:  0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

nav a span
{
	padding: 0 10px 0 32px;
}

nav .console span
{
	background: url(../images/icons/console.png) 10px no-repeat;
}

nav .dashboard span
{
	background: url(../images/icons/dashboard.png) 10px no-repeat;
}

nav .search span
{
	background: url(../images/icons/magnify.png) 10px no-repeat;
}

nav .console:hover span
{
	background: url(../images/icons/console-hover.png) 10px no-repeat;
}

nav .dashboard:hover span
{
	background: url(../images/icons/dashboard-hover.png) 10px no-repeat;
}

nav .search:hover span
{
	background: url(../images/icons/magnify-hover.png) 10px no-repeat;	
}