nav ul
{
	zoom: 1;
	list-style: none;
	display: inline;
	height: 100%;
	padding-right: 10px;
}


nav li
{
	list-style: none;
	display: inline-block;
	padding: 5px 0px;
	margin: 0 -5px 0 0;
	color: #f3f5f8;
	font-size: 15px;
	font-family: arial;
	line-height: 28px;
	
	/*ie 7 fix */
	zoom:1;
	*display: inline;
}

nav li a
{
	display: inline-block;
	/*ie 7 fix */
	zoom:1;
	*display: inline;
	
	padding: 0;
		
	background-color: #2e2e2e;
	background:-moz-linear-gradient(#666b74,#292b2e 70%);
	background:-webkit-linear-gradient(#666b74,#292b2e 70%);
	background:-o-linear-gradient(#666b74,#292b2e 70%);
	background:linear-gradient(#666b74,#292b2e 70%);
	
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#666b74, endColorstr=#292b2e);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#666b74, endColorstr=#292b2e)";
	
	color: #d6d6d6 !important;
	font-weight: bold;
	text-decoration:none;
	border: 1px solid #000;
	
	-web-box-shadow: inset 0 1px 0 #797e8a, 0px 1px 0px #02749a;
	-moz-box-shadow: inset 0 1px 0 #797e8a, 0px 1px 0px #02749a;
	box-shadow:		 inset 0 1px 0 #797e8a, 0px 1px 0px #02749a;

}

nav li a.active span
{	
	-web-box-shadow: inset 0 1px 4px #000000;
	-moz-box-shadow: inset 0 1px 4px #000000;
	box-shadow:		 inset 0 1px 4px #000000;
}

nav li a:hover
{
	color: #ffffff;
}
	
nav li:first-child a, nav li:first-child span
{
	-moz-border-radius-topleft: 5px;
	-webkit-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radis-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}

nav li:last-child a, nav li:last-child span
{
	-moz-border-radius-topright: 5px;
	-webkit-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radis-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

nav a span
{
	padding: 5px 10px 5px 32px;
	color: #d6d6d6;
}

nav a:hover span
{
	color:white;
}

nav .console span { background: transparent url(../images/icons/console.png) 10px no-repeat; }
nav .console:hover span { background: transparent url(../images/icons/console-hover.png) 10px no-repeat; }
nav .dashboard span { background: transparent url(../images/icons/dashboard.png) 10px no-repeat; }
nav .dashboard:hover span {	background: transparent url(../images/icons/dashboard-hover.png) 10px no-repeat; }
nav .search span { background: transparent url(../images/icons/magnify.png) 10px no-repeat; }
nav .search:hover span { background: transparent url(../images/icons/magnify-hover.png) 10px no-repeat;	}
nav .home span { background: transparent url(../images/icons/home.png) 10px no-repeat;	}
nav .home:hover span { background: transparent url(../images/icons/home-hover.png) 10px no-repeat;	}
nav .feeds span { background: transparent url(../images/icons/feeds.png) 10px no-repeat;	}
nav .feeds:hover span { background: transparent url(../images/icons/feeds-hover.png) 10px no-repeat;	}
nav .login span { background: transparent url(../images/icons/login.png) 10px no-repeat;	}
nav .login:hover span { background: transparent url(../images/icons/login-hover.png) 10px no-repeat;	}
nav .register span { background: transparent url(../images/icons/register.png) 10px no-repeat;	}
nav .register:hover span { background: transparent url(../images/icons/register-hover.png) 10px no-repeat;	}
nav .logout span { background: transparent url(../images/icons/logout.png) 10px no-repeat;	}
nav .logout:hover span { background: transparent url(../images/icons/logout-hover.png) 10px no-repeat;	}